node_modules
build
landing_build
web_build
target
.htpasswd
*.env*
*.cert
*.crt
*.key
*.pem
*.jks
cert-file
cert-signed
query.test
models
core/types/generated
app/landing/public
app/website/src/modules/generated
*test*.json
deployed