{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "./"
  },
  "rules": {
    "@typescript-eslint/no-empty-interface": "off"
  },
  "settings": {
    "import/resolver": {
      "typescript": {},
      "alias": [
        ["awayto/core", "../../core/src/index.ts"],
        ["awayto/hooks", "./src/hooks/index.ts"]
      ]
    }
  },
  "plugins": [
    "@typescript-eslint",
    "import"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ]
}