FORCE_COLOR=true

AWAYTO_CORE=../../core/src
AWAYTO_WEBAPP=/src
AWAYTO_WEBAPP_MODULES=/src/modules

REACT_APP_DEVELOPMENT=true
REACT_APP_HOSTNAME=$CUST_APP_HOSTNAME
REACT_APP_LAND_HOSTNAME=$CUST_LAND_HOSTNAME
REACT_APP_KC_REALM=$KC_REALM
REACT_APP_KC_CLIENT=$KC_CLIENT
REACT_APP_KC_PATH=$KC_PATH