FORCE_COLOR=true

AWAYTO_CORE=/src/core
AWAYTO_WEBAPP=/src/webapp
AWAYTO_WEBAPP_MODULES=/src/webapp/modules

REACT_APP_DEVELOPMENT=true
REACT_APP_HOST_IP=$BUILD_HOST_IP
REACT_APP_HOST_NAME=$BUILD_HOST_NAME
REACT_APP_HOST_PROTOCOL=$BUILD_HOST_PROTOCOL