{{ define "main" }}
  {{ $pages := where .Site.Pages "Section" "docs" }}

  <div class="container">
    <div class="sidebar">
      <ul>
        {{ range $pages }}
          {{ if eq .Kind "section" }}
            <li><a href="#{{ .Title | urlize }}">{{ .Title }}</a></li>
            {{ if ne .Title "Home" }}
              <ul class="indent">
                {{ $currentParent := . }}
                {{ range $pages }}
                  {{ if and (eq .Parent $currentParent) (ne . $currentParent) (ne .Kind "section") }}
                    <li><a href="#{{ .Title | urlize }}">{{ .Title }}</a></li>
                  {{ end }}
                {{ end }}
              </ul>
            {{ end }}
          {{ end }}
        {{ end }}
      </ul>
    </div>
    <div class="post-content">
      {{ range $pages }}
        {{ if eq .Kind "section" }}
          <div id="{{ .Title | urlize }}">{{ .Content }}</div>
          {{ if ne .Title "Home" }}
            {{ $currentParent := . }}
            {{ range $pages }}
              {{ if and (eq .Parent $currentParent) (ne . $currentParent) (ne .Kind "section") }}
                <div id="{{ .Title | urlize }}">{{ .Content }}</div>
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const header = document.querySelector(".header");
      const menu = document.querySelector(".sidebar ul");
      const fixedClass = "fixed";
  
      function checkHeight() {
        if (window.scrollY > header.offsetHeight) {
          menu.classList.add(fixedClass);
        } else {
          menu.classList.remove(fixedClass);
        }
      }

      window.addEventListener("scroll", checkHeight);
      checkHeight();
    });
  </script>
{{ end }}

