/* Custom
 -------------------------------------------------- */

 .fixed {
  position: fixed;
  top: 0;
  margin-top: 50px;
  width: 15%;
}

.container {
  display: flex;
}

.sidebar {
  margin-top: 20px;
  flex: 1;
  padding: 15px;
  height: 100vh;
  overflow-y: auto;
}

.sidebar .fixed {
  height: 100%;
}

.post-content {
  flex: 5;
  padding: 15px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-left: 20px;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.post-content ul {
  margin-left: 20px;
}